/*Fonts*/
$font-fam: 'Fira Sans', sans-serif;
$heavy: 900;
$bold: 700;
$regular: 400;
/*Colors*/
$main-color: #000;
$white: #fff;

.flex-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}

.flex-1 {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

/* .j-center {*/
/* 	-webkit-box-pack: center;*/
/* 	    -ms-flex-pack: center;*/
/* 	        justify-content: center;*/
/* }*/

body {
	font-family: $font-fam;
}

header {
	h1, span {
		text-align: center;
		font-weight: $heavy;
	}
	span {
	    margin: 0.67em 0;
    	font-size: 2em;
	}
}

main {
	> div {
		text-align: center;
	}
}

.btn-big {
	font-family: $font-fam;
	font-weight: $heavy;
    font-size: 1.4em;
    padding: 10px 30px;
    background: $main-color;
    color: $white;
    border: 2px solid $main-color;
    outline: 0;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    &:hover, &:focus {
		background-color: $white;
		color: $main-color;
    }
}





